.app {
  font-family: "Nanum Gothic", sans-serif;
  min-height: 100vh;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin: 20px auto;
  max-width: 1200px;
  padding: 0px;
  box-sizing: border-box;
}
