.mainContent {
  flex: 1;
  background-color: #f9f9f9;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow: auto;
  width: 100%;
  height: 600px;
}

.departmentImage {
  max-width: 100%;
  max-height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
}

.placeholderText {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 18px;
  color: #777;
  margin-bottom: 20px;
}

.errorText {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 16px;
  color: red;
  text-align: center;
}

.container {
  font-family: "Nanum Gothic", sans-serif;
  padding: 20px;
  max-width: 800px;
  margin: 0 auto;
  text-align: left;
}

.header {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 20px;
}

.introText {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  margin-bottom: 20px;
  text-align: left;
}

.infoList {
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  text-align: left;
  list-style: none;
  margin-bottom: 20px;
  padding: 0;
}

.infoList li {
  text-align: left;
  margin-bottom: 14px;
}

.resourcesList {
  font-family: "Nanum Gothic", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 8px;
}

.resourcesList li {
  display: inline;
}

.resourcesList a {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: none;
  font-size: 14px;
  color: #862633;
}

.separator {
  color: #cccccc; /* 구분자 색상 */
  margin: 0 8px; /* 구분자와 링크 사이 여백 */
}

.resourcesList a:hover {
  font-family: "Nanum Gothic", sans-serif;
  text-decoration: underline;
}

.footerText {
  font-family: "Nanum Gothic", sans-serif;
  margin-top: 30px;
  font-size: 14px;
  color: #555;
  text-align: center;
  line-height: 1.5;
}
