.reactflow-container {
  width: 100%; /* 화면 전체 너비 */
  height: 100%; /* 화면 전체 높이 */
  overflow: auto; /* 잘리는 경우 스크롤 추가 */
  position: relative; /* 자식 요소의 위치를 기준으로 설정 */
  background: #f5f5f5; /* 배경색 설정 */
}

.mainContent {
  position: relative;
  width: 100%;
  height: auto;
  overflow: auto;
}

.reactflow-wrapper {
  position: relative;
  width: 100%;
  height: 100%;
}
.reactflow-graph {
  width: 100%;
  height: 100%;
  overflow: visible; /* 그래프가 초과하면 표시 */
}

.custom-controls {
  position: absolute;
  top: 0px;
  left: 880px;
  box-shadow: none;
  z-index: 10;
}

.reactflow-container .react-flow__edge-path {
  stroke: #ccc; /* 기본 선 색상 */
  stroke-width: 2; /* 선 두께 */
  fill: none; /* 내부 채우기 제거 */
}

.reactflow-container .react-flow__edge-path.custom-edge-required {
  stroke: #ff0000; /* 필수 엣지: 빨간색 */
  stroke-width: 2; /* 선 두께 */
}

.reactflow-container .react-flow__edge-path.custom-edge-optional {
  stroke: #ff0000; /* 선택 엣지: 연한 회색 */
  stroke-width: 2;
}

/* .reactflow-container .node-tooltip {
  background: #fff;
  border: 1px solid #ccc;
  padding: 8px;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
} */

.react-tooltip {
  z-index: 1000;
  background-color: white;
  color: black;
  border: 1px solid #ddd;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
}
