.container {
  margin-top: 10px;
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  justify-content: center;
  background-color: #f9f9f9;
  padding: 10px 0;
  border: 1px solid #ddd;
}

.menuList {
  display: flex;
  font-family: "Nanum Gothic", sans-serif;
  list-style: none;
  padding: 0;
  margin: 0;
}

.menuItem {
  position: relative;
  margin: 0 15px;
  cursor: pointer;
  font-family: "Nanum Gothic", sans-serif;
  font-size: 14px;
  font-weight: bold;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.menuItem:hover {
  background-color: #f0f0f0;
}

.subMenuList {
  font-size: 12px;
  position: absolute;
  top: 100%;
  left: 0;
  min-width: 200px;
  max-width: 300px;
  background-color: rgba(240, 240, 240, 0.9);
  border: 1px solid #ddd;
  border-radius: 5px;
  list-style: none;
  padding: 10px;
  margin: 0;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  display: none;
  overflow-wrap: break-word;
  font-family: "Nanum Gothic", sans-serif;
}

.menuItem:hover .subMenuList {
  display: block;
  z-index: 10;
}

.subMenuItem {
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.subMenuItem:hover {
  background-color: #e0e0e0;
}
